/* *************** Base Settings *************** */ 
@charset "UTF-8";
*{margin:0; padding:0; border:0; display:block;}
/* *************** HTML and Body tags ********** */
html,
body {
	position: absolute;
	margin: 0; padding: 0; height: 100%;
	min-height: 100% !important;
	width: 100%;
	min-width: 100%;
	font-family: 'New Rocker', cursive;
//	background: #4E5869;
	color: #000;
	top: 0;
	bottom: 0;
	overflow: auto;
}
/* *************** Wrapper *************** */ 
#wrapper { /* wrapper surrounds all other divs giving percentage-based width. */
	position: relative;
	height: 100% !important;
	min-height: 100% !important;
	width: 80%; /* 80% of the screen size. */
	max-width: 1260px;/* max-width desirable to keep layout from getting too wide on large monitors. */
	min-width: 800px;/* min-width desirable to keep layout from getting too narrow. Also keeps line length more readable in columns. */
	margin: 0 auto 0 auto;
//	background-color: #123;
}
/* *************** Header *************** */
#header { /* Header has no width. Extends full width of layout. */
	position: absolute;
	width: 100%;
	max-width: 1260px;/* max-width desirable to keep layout from getting too wide on large monitors. */
	min-width: 780px;/* min-width desirable to keep layout from getting too narrow. Also keeps line length more readable in columns. */
	text-align: center;
	height: 90px;
	line-height: 90px;
	font-size: 23px;
}
.hpheader {
	background-color: #fff;
	background: url('../images/background-overlay.png') top center repeat-x;
}
/* *************** Content *************** */
#content {
	position: absolute;
	top: 90px !important;
	bottom: 70px !important;
//	background: #fff;
	min-height: auto !important;
	max-height: 100%;
	width: 100%;
	display: block;
	overflow: auto;
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
/* *************** Footer *************** */ 
#footer {
	position: absolute;
	text-align: center;
	width:100%;
	height: 70px;
	bottom: 0px;
	max-width: 1260px;/* max-width desirable to keep layout from getting too wide on large monitors. */
	min-width: 780px;/* min-width desirable to keep layout from getting too narrow. Also keeps line length more readable in columns. */
	margin: 0 auto 0 auto;
//	background: #fff;
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
/* *************** Website Colors *************** */ 
.colorBG {background: #4E5869;}
.colorBGdarkblue {background-color: #123;}
.colorColumns {background: #93A5C4;}
.colorGameArea { background: #fff;}
.colorBGWhite {background: #fff;}
.colorFooter {background: #6F7D94;};
/* ********** Header subset start ********** */ 
#logoleft {
	float: left;
	width: 20%;
}
.logol {
}

#logocenter {
}
.logo_text {
	vertical-align: middle;
	line-height: 45px;
	font-size: 30px;
	color: #4E5869;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logoright {
	float: right;
	right: 0px;
	width: 20%;
}
.logor { }
.bugzShadow {
	color: #000;
	text-shadow: 0 0 10px #fefcc9, 0 0 20px #feec85, 0 0 30px #ffae34, 0 0 40px #ec760c, 0 0 70px #cd4606, 0 0 80px #973716, 0 0 100px #451b0e, 0 0 150px #451b0e;
/* other shadow properties */
//	text-shadow: -1px 0 #F87, 0 1px #F87, 1px 0 #F87, 0 -1px #F87;
//	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
//	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;	
}

/* ********** Content subset start ********** */
#leftcolumn {
	float: left;
}

#rightcolumn {
	float: right;
}

#center {
	float: left;
	width: 60% !important;
	overflow-y: auto;
	overflow-x: hidden;
}

.columnbasic {
	display: block;
	min-height: 100% !important;
	width: 20% !important;
}

/* ********** footer subset start ********** */
#footerleft {
	float: left;
}
#footerright {
	float: right;
}
#footercenter {
	float: left;
	width: 60% !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.footer_text {
	vertical-align: middle;
	line-height: 35px;
	font-size: 18px;
	color: #4E5869;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.footer_clock {
	vertical-align: middle;
	line-height: 35px;
	font-size: 14px;
	color: #4E5869;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.footerbasic {
	width: 20% !important;
}

/* ********** generic subset start ********** */
.table{
	display: table;
}
.trow{
	display: table-row;
}
.tcell{
	display: table-cell;
}

.clearfloat { /* Can be placed on a <br /> or empty div as final element following last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.rfloat {	float: right;}
.lfloat {	float: left;}


/* *************** Element/tag selectors *************** */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any following elements. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	padding: none;
	margin: none;
}

/* ***** Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ***** */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* ***** this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. ***** */
	text-decoration: none;
}

/* ***** This grouped selector gives the lists in the .content area space ***** */
.content ul, .content ol { 
//	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ***** The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ***** */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #6F7D94;
	color: #FFF;
}

/* ***************************************** Game Navigation **************************************** */
ul.gnav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #123; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.gnav li {
	border-bottom: 1px solid #123; /* this creates the button separation */
}
ul.gnav a, ul.gnav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background: #666;
	color: #fff;
}
ul.gnav a:hover, ul.gnav a:active, ul.gnav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #F90;
	color: #FFF;
}

/* **************************** GAME Tags **************************** */
/* *************** HTML and Body tags ********** */

/* *************** Wrapper *************** */ 


/* ************************************************************************************************ */
/* *************** Game Header *************** */
.gheader { /* Header has no width. Extends full width of layout. */
//	background: url('../images/bugzgTitle.png') center center no-repeat;
//	background-size:cover;
}
.gheadercolor { background: #000;}
/* *************** Game Colors *************** */ 
.gbody {
	background: #000;
	color: #fff;
	background-image: url('../images/underworld.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.gwrappershading {
background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(20%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 80%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#gwrapper {
	position: relative;
	height: 100% !important;
	min-height: 100% !important;
	width: 100%; /* 80% of the screen size. */
	max-width: 100%;/* max-width desirable to keep layout from getting too wide on large monitors. */
	min-width: 1260px;/* min-width desirable to keep layout from getting too narrow. Also keeps line length more readable in columns. */
	margin: 0 auto 0 auto;
//	background-color: #123;
}
/* *************** Game Colors *************** */ 
.gcolorBG {background: #4E5869;}
.gcolorBGdarkblue {background-color: #123;}
.gcolorColumns {background: #93A5C4;}
.gcolorBGWhite {background: #fff;}
.gcolorFooter {background: #6F7D94;};
.gwrapper { background-color: #000;}
/* .gcolorColumns { background: #003;} */
.gcolorGameArea { background: #000;}
.gcolor { color:#fff;}
.gopacity { opacity: 0.5;}
.gopacity2 { opacity: 0.75;}
.gopacity p { color:#fff;}
/* *************** Game Colors BG transparancies *************** */ 
.gcolorHeader { background-color:rgba(0, 0, 0, 0.25);}
.gcolorFooter { background-color:rgba(44, 163, 62, 0.35);}
.gcolorFooterStats { 
	background-color:rgba(0, 0, 0, 0.35);
	line-height: 23px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.gcolorFooterClock { background-color:rgba(0, 0, 0, 0.35);}
.gcolorColumns { background-color:rgba(117, 117, 117, 0.35);}
.gcolorGameArea { background-color:rgba(150, 0, 0, 0.35);}
.gcolorHealth { background-color:rgba(150, 0, 0, 0.35);}
.gcolorStamina { background-color:rgba(150, 150, 0, 0.35);}
.gcolorExp { background-color:rgba(75, 0, 150, 0.35);}
/* ********** Header subset start ********** */ 
#logoleft {
	float: left;
	width: 20%;
}
.logol { }

#logocenter {
}
.logo_text {
	vertical-align: middle;
	line-height: 45px;
	font-size: 30px;
	color: #4E5869;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logoright {
	float: right;
	right: 0px;
	width: 20%;
}
.logor { }

.bugzShadow {
	color: #000;
	text-shadow: 0 0 10px #fefcc9, 0 0 20px #feec85, 0 0 30px #ffae34, 0 0 40px #ec760c, 0 0 70px #cd4606, 0 0 80px #973716, 0 0 100px #451b0e, 0 0 150px #451b0e;
/* other shadow properties */
//	text-shadow: -1px 0 #F87, 0 1px #F87, 1px 0 #F87, 0 -1px #F87;
//	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
//	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;	
}

/* ********** footer subset start ********** */
#gfooterleft {
	float: left;
}
#gfooterright {
	float: right;
}
#gfootercenter {
	float: left;
	width: 60% !important;
	overflow-y: auto;
	overflow-x: hidden;
}
.gfooter_text {
	vertical-align: middle;
	line-height: 35px;
	font-size: 18px;
	color: #4E5869;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.gfooter_clock {
	vertical-align: middle;
	line-height: 35px;
	font-size: 14px;
	color: #4E5869;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.gbodygradient {


}

